html {
    font-family: $sans;
    font-size: $base-font-size;
}

body {
    line-height: 1.4;
}

a {
    color: $link;
    text-decoration: none;
    transition: color 100ms linear;

    &:hover {
        color: $hover;
        text-decoration: underline;
    }
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $serif;
    font-weight: bold;
    margin-bottom: 1rem;
}

h1 {
    font-size: 2.744rem;
}
h2 {
    font-size: 1.96rem;
}
h3 {
    font-size: 1.4rem;
}
h4 {
    font-size: 1rem;
}
h5 {
    font-size: .8rem;
}

p,
ul,
ol {
    // margin-bottom: 1.4em;
}

p {}

ul {}
ol {}

blockquote {}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

img {
    image-rendering: -webkit-optimize-contrast;
}
