.menu-main-navigation-container { // nav

}



.menu-main-navigation { // ul
    display: flex;
    line-height: 1.2;

    .menu-item { // li
        position: relative;

    }

    a {
        display: block;
    }


    // First-level
    > .menu-item {

        > a {
            color: $invert;
            padding-bottom: .5em;
            padding-top: .5em;
        }

        + .menu-item {
            margin-left: 1.5em;
        }
    }

}

.sub-menu {
    display: none;
    position: absolute;
    text-align: right;

    li {
        + li {
            margin-top: 1em;
        }
    }

    a {
        color: $invert;
    }
}



// Second level
.menu-main-navigation > .menu-item-has-children {

    > .sub-menu {
        background-color: $primary-0;
        right: -1em;
        // min-width: 300px;
        // padding: 1em;
        width: calc(200% + 2em);

        > li {

            > a {
                padding-left: 1em;
                padding-right: 1em;
                padding-top: 1em;
            }

            &:last-child > a {
                padding-bottom: 1em;
            }

        }

    }

    // &:hover,
    &.is-hovered {

        > .sub-menu {
            display: block;
        }

    }

}



// Third level
.menu-main-navigation > .menu-item-has-children > .sub-menu > .menu-item-has-children {

    > .sub-menu {
        margin-bottom: 1em;
        right: 100%;//calc(100% + 1em);
        background-color: $primary-3;
        padding: 1em 1.5em;
        list-style: none;
        top: 0;
        width: 150%;

        &::before {
            content: '';
            display: block;
            height: 0;
            width: 0;
            position: absolute;
            z-index: 2;
            border-left: 1em solid $primary-3;
            border-top: 1em solid transparent;
            border-bottom: 1em solid transparent;
            top: .5em;
            right: -1em;
        }

    }

    // &:hover,
    &.is-hovered {

        > .sub-menu {
            display: block;
        }

    }

}
