@mixin button() {
    background-color: transparent;
    border-radius: .25em;
    border: none;
    border: 1px solid $link;
    color: $link;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    padding: .7em 1.4em;
    text-align: center;
    transition: border-color 100ms linear, color 100ms linear, background-color 100ms linear;

    &:hover {
        background-color: $hover;
        border-color: $hover;
        color: $invert;
        text-decoration: none;
    }

}



@mixin button-filled() {
    @include button();
    background-color: $link;
    border: none;
    color: $invert;

    &:hover {
        background-color: $hover;
        color: $invert;
    }

}



@mixin button-action() {
    @include button();
    background-color: $link;
    border: none;
    color: $invert;

    &:hover {
        background-color: $hover;
    }

}
